.hero {
  max-width: 1366px;
  margin: 0 auto;
}

.gifts {
  margin-bottom: 70px;

  //container
  & > div {
    display: flex;
  }
}

.giftsGroup {
  padding: 74px 0;
  h2 {
    margin-bottom: 30px;

    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.31;
    color: var(--color-primary);
  }

  h3 {
    max-width: 422px;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
  }

  a {
    display: inline-flex;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 0.68;
    letter-spacing: 1px;
    color: #fff;

    border-radius: 15px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #000;
  }
}

.giftsImg {
  max-width: 570px;
  height: 100%;
}

.promotions {
  text-align: center;
  margin-bottom: 108px;

  //container
  & > div {
    padding-top: 90px;
    border-top: 1px solid #959595;
  }

  h2 {
    margin-bottom: 30px;

    font-family: Roboto;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.31;
    color: var(--color-primary);
  }

  h3 {
    max-width: 570px;
    margin: 0 auto 40px;

    font-size: 16px;
    font-weight: 400;
  }
}

.inputButnGroup {
  position: relative;
  max-width: 570px;
  margin: 0 auto;

  input {
    width: 100%;
    padding: 16px 187px 15px 18px;
    border-radius: 15px;
    border: 1px solid var(--color-secondary);
    background-color: #fff;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.56;
      color: #959595;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;

    display: inline-flex;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 0.68;
    letter-spacing: 1px;
    color: #fff;

    border: none;
    border-radius: 15px;
    background-color: var(--color-secondary);

    cursor: pointer;
  }
}

.hottestProducts {
  margin-bottom: 80px;
}
