.heroSwiper {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-disabled {
    color: #fff;
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 3px;
    margin: 0 5px;

    border-radius: 15px;
  }
}
